<!DOCTYPE html>
<html>
<head>
    <title></title>
    {%- assets "css_main" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
    {%- assets "js_main" %}
        <script type="application/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
</head>
<body>
    <div class="content-container">
        {# <nav class="top-bar main-top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"><h1><a href="/">Yoloswag</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="has-dropdown">
                        {% if current_user.is_authenticated() %}
                            <a href="#">{{ current_user.username }}</a>
                            <ul class="dropdown">
                                <li><a href="{{ url_for("auth.logout") }}">Log out</a></li>
                            </ul>
                        {% else %}
                            <a href="{{ url_for("auth.LoginView:index") }}">Log in</a>
                            <ul class="dropdown">
                                <li><a href="{{ url_for("auth.RegisterView:index") }}">Register</a></li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
                <ul class="left">
                    <!-- <li><a href="#">Left Nav Button</a></li> -->
                </ul>
            </section>
        </nav> #}

        <nav class="menu-bar">
            <ul class="button-row left">
                <li><a class="menu-button" href="/">Yoloswag</a></li>
            </ul>
            <ul class="button-row right">
                <li>
                    {% if current_user.is_authenticated() %}
                        <a class="menu-button dropdown" href="#">{{ current_user.username }}</a>
                        <ul class="dropdown-content">
                            <li><a class="menu-button" href="{{ url_for("auth.logout") }}">Log out</a></li>
                        </ul>
                    {% else %}
                        <a class="menu-button dropdown" href="{{ url_for("auth.LoginView:index") }}">Sign in</a>
                        <ul class="dropdown-content">
                            <li><a class="menu-button" href="{{ url_for("auth.RegisterView:index") }}">Register</a></li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="row">
                <div class="small-12">
                    <div data-alert class="alert-box {{ category }}">
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </div>
    <script>
        $(document).foundation();
    </script>
</body>
</html>